<mat-card class="quiz-card">
  <mat-card-header>
    <div mat-card-avatar class="quiz-header-image"></div>
    <mat-card-title>Which city is this?</mat-card-title>
    <mat-card-subtitle>Click on the correct answer below</mat-card-subtitle>
  </mat-card-header>
  <img class="image" mat-card-image [src]="'assets/' + question.image" alt="Photo of a Shiba Inu">
  <mat-card-actions class="answer-section">
    <button [disabled]="answeredCorrectly !== undefined" *ngFor="let selection of question.possibleSelections"
            mat-stroked-button color="primary"
            [ngClass]="{
              'correct': answeredCorrectly && selection === question.correctAnswer,
              'wrong': answeredCorrectly === false && selection === question.correctAnswer
             }"
            (click)="answer(selection)">
      {{selection}}
    </button>
  </mat-card-actions>
</mat-card>
