.quiz-card {
  width: 400px;
  margin: 20px;
}

.quiz-header-image {
  background-image: url('https://images.unsplash.com/photo-1557318041-1ce374d55ebf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80');
  background-size: cover;
}

.answer-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer-section button {
  margin-right: 8px;
  margin-left: 8px;
  width: 25%;
}

.correct {
  background: green;
  color: white !important;
}

.wrong {
  background: red;
  color: white !important;
}

